#turinys{
margin-right: 100px;
margin-left:100px;
}
#panda{
    margin-left: 100px;
    margin-right: 100px;
}

.slogan{
	color: #37629c;
	font-size: 80px;
}

#naujiena
	{border-style: solid;
	border-color: #e8eaf6;
	}
	
#naujienosBlokas
{border-style: solid;
	border-color: #e8eaf6;
	background-color:white}
#button{
	height:130px;
	background-color:#238d9c;
}	

h2 {
	font-size:30px;
	background-color:navy;
    color: white;
	text-align: center;
}
h1 {
	margin-top:23px;
	color: white;
	font-size: 35px;
}
.header{
	width:100%;
	height:100px;
	background-color:navy;
	padding:5px;	
}

.footers{
	width:auto;
	height:80px;
	background-color:navy;
	color:white;
	padding:5px;
	}
.contacts li{
	font-size: 25px;	
}
.contacts{
	margin-top: 100px;
	margin-left: 15px;
	border-style: outset;
    border-width: 7px;
    border-color: #37629c; 
}
#justo_foto{	
	margin-top:8%;
}
#test3{
	margin-top:65px;
}
#test4{
	text-align:center;
}
#apieMusButton{
	background-color: #238d9c;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#grid-button{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#grid-icon{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

#naujienosBlokas{
	margin: 50px;
}
#naujiena{
	margin:0px;
}
.brand-logo{
	content:url(https://img12.androidappsapk.co/300/3/1/a/com.linkedin.android.jobs.jobseeker.png);
	width:70px; 
    height:70px;
		
}
.fonas{
	background-color:	#8da1e7;
}
.nav-wrapper{
	background-color:#37629c;
}
.page-footer{
	background-color:#37629c;
	/* height: 65px;*/
	font-size: 12px
}
.container{
	margin-top: -35px;
}
.nav-wrapper{
	font-size: 8px;
}
.footeris{
	margin-bottom: 0;
	background-color:#37629c;
	
}

div {
    text-align: justify;
    text-justify: inter-word;
}
.tabslist ul {
	background-color: #1E90FF;
	font-size: 35px;
}
ul.tabs{
	color:white !important;
	font-size: 35px;
}
#paragrafai{
	padding:12px;
}

.map {
	height: 450px;
	width: 600px;
	margin-top:20px;
}

@media only screen and (max-width: 1300px) {  
.map {
    height: 350px;
	width: 400px;
	margin-top: 35px;
 }
 
 /*Egles dalies":*/
#apieSave {
	color: #238d9c;
 }
.chart-container {
  position: relative;
  margin: auto;
  height: 50px;
  width: 50px;
}
.map {
	background-color:rgb(214,184,72);
}
.poIntro{
	background-color:rgb(232,215,161);
}
.karusele{
	
}


@media only screen and (max-width: 932px) {  
.map {
    height: 350px;
	width: 100%;
	
 }
}

@media only screen and (max-width: 700px) {  
.map {
    height: 300px;
	width:300px;
	
 }
 .footers{
	width:auto;
	height:80px;
	background-color:navy;
	color:white;
	padding:5px;
	}
}
.row-aiva{
	background-color:red;
}


