

h2 {
	font-size:30px;
	background-color:navy;
    color: white;
	text-align: center;
}

h3 {
	font-size:30px;
	text-align: center;
}

h1 {
	margin-top:23px;
	color: white;
	font-size: 35px;
}

#caruseleeeee{
	height:1000px;
}

.full-carousel {
	height: 400px !important
}
.header{
	width:100%;
	height:100px;
	background-color:navy;
	padding:5px;	
}

.footers{
	width:auto;
	height:80px;
	background-color:navy;
	color:white;
	padding:5px;
	}

}

.brand-logo{
	content:url(https://img12.androidappsapk.co/300/3/1/a/com.linkedin.android.jobs.jobseeker.png);
	width:70px; 
    height:70px;
		
}

.nav-wrapper{
	background-color:#37629c;
}
.page-footer{
	background-color:#37629c;
	/* height: 65px;*/
	font-size: 12px
}
.container{
	margin-top: -35px;
}
.nav-wrapper{
	font-size: 8px;
}
.footeris{
	margin-bottom: 0;
}



p {
    text-align: justify;
    text-justify: inter-word;

}
#paragrafai{
	padding:12px;
}


 .footers{
	width:auto;
	height:80px;
	background-color:navy;
	color:white;
	padding:5px;
	}
}
#chart-name{
	text-align:center;
}

img {
	margin-top:80px;
}

.center{
	margin-top:60px;
}

.ct-series-b{
	
	height: 200px;
}

.ct-series-a{
	
	height: 200px;
}


.ct-series-c{
	
	height: 200px;
}

.ct-chart1
{
	height: 200px;	
}

.ct-chart{
	height: 200px;
}
.grafikas{
	height200px;
}


@media only screen and (min-width: 1300px) (max-width: 1500px) {  
.mob {
    height: 200px;
	width: 200px;
	
 }
.paragrafas{
	margin-left:30px;	
	width:200px;
	
 }
}


@media only screen and (max-width: 1300px) {  
.mob {
    height: 200px;
	width: 180px;
 }
.paragrafas{
	
	width:250px;
 }
}

@media only screen and(max-width: 932px) {  
.mob {
    height: 180px;
	width: 160px;	
 }
 .paragrafas{
	margin-left:50px;	
 } 
}


@media only screen and (max-width: 700px) {  
.mob {   
width: 100%;
width:80px;

}
 .paragrafas{
	width: 100%;
 } 
}



